body
{
    background-color: Plum;
}

a1
{
  background-color: Lavender;
  color:Coral;
}


a2
{
  background-color: Lavender;
  color:Tomato;
}

a3
{
  background-color: Lavender;
  color:OrangeRed;
}

a
{
    color: White;
}

as
{
  color: Red;
}
